"elaborate on the 5 verification steps"

Comment from Toerless to section 6.3

> 2100       The CA certificates are provided as base64 encoded "x5b".  The pledge
> 2101       SHALL install the received CA certificates as trust anchor after
> 2102       successful verification of the registrar's signature.
>  
> [major]
>  
> This i think is where to elaborate on the 5 verification steps:
> - first authenticat registrar certificate against the pinned-domain-cert
> - then authenticate the message signature.
>  
> 2104       The following 4xx client error codes SHOULD be used by the pledge:
>  
> 2106       *  403 Forbidden: if the validation of the wrapping signature or
> 2107          another security check fails.
>  
> 2109       *  415 Unsupported Media Type: if the Content-Type of the request is
> 2110          in an unknown or unsupported format.
>  
> 2112       *  400 Bad Request: if the pledge detects errors in the encoding of
> 2113          the payload.
>  
> 2115    6.3.4.  Pledge: Enrollment Response Processing


Not sure what the 5 verification steps are . The pledge at this point in time already installed the pinned domain certificate from the voucher. As it can validate the signature on the wrapped CA Certs based on the pined domain certificate, it can install the trust anchors. What is missing?

Proposed revised text:
The verification comprises the following steps the pledge SHALL perform. Per step, the 4xx client error code is indicated, which SHOULD be used by the pledge. Moreover, the sequence of the verification step is indicated to allow easy determination, which verifications have already been passed:

1. Check content-type of the CA certificates message. If no Content-Type is contained the default Content-Type utilized in this document (JSON-in-JWS) is used. If the Content-Type of the response is in an unknown or unsupported format, the pledge SHOULD react with a 415 Unsupported media type error code. 
2. Check the encoding of the payload. If the pledge detects errors in the encoding of the payload, it SHOULD react with 400 Bad Request error code.
3. Verify that the wrapped CA certificate object is signed using the registrar certificate against the pinned-domain certificate. If the validation against the pinned domain-certificate fails, the client SHOULD react with a 401 Unauthorized error code. It signals that the authentication has failed and therefore the object was not accepted.
4. Verify signature of the the received wrapped CA certificate object.  If the validation of the signature fails, the client SHOULD react with a 406 Not Acceptable. It signals that the object has not been accepted.

Is the following error case meaningful? If yes, what would be an error code? The question behind is if an intermediate CA certificate delivered via this mechanism is considered a trust anchor? Or does the certificate path validation always need to be done including the self-signed root CA cert (not as we read it in [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280#section-6.1.1)?
5. If the received CA certificates are not self-signed verify them against an already installed trust anchor. 


Looks good in general. Some language nits:
1. I do not think the language of the document is improved by mixing MUST and SHALL. I would recommend to always only use MUST. I for once have at times looked for requirements only searching for MUST ...
2. redundant, remove: "Per step, the 4xx client error code is indicated, which SHOULD be used by the pledge"
3. s/Moreover, the sequence of the verification step is indicated to allow easy determination,/Maintain the order of versification steps as indicated allows to determine/
4. replace "react" with "reply" ? Seems to provide more specificity in this context.
5. "If no Content-Type is contained (where? - http header ? might help reading to explicitly state), also i think a "," is missing.
7. "Verify that the wrapped CA certificate object is signed using the registrar certificate against the pinned-domain certificate.". Does not parse. How many certificates are at work here ? 3 or 2 ? I guess the identity of the certificate used to sign the wrapped CA certificate is indicated via a hash ? Maybe explicitly mention that ("verify that the hash that is indicating the certificate used to sign the ... is that of the pinned-domain certificate..." ? something like that ? Discuss.

Re point 5. Probably best to discuss.
Q: How would this need to be any different from rfc8995 ?
AFAIK, the pinned domain certificate. received in the voucher may be signed by a certificate chain of two or more certificates. This is because that pinned domain cert could simply be the cert of the registrar, and like any other device in the domain, it could have received its certificate from a CA in a multi-tiered CA installation. I have elaborated on this in section 6.2.4 of rfc8994.
I don't know/think there is a reason for the trust anchor in the CA certificates list to have a signing chain. It may have, but that signing chain is IMHO irrelevant. Michael may know better.

Note that for domains with conditions such as aquisitions and mergers, you may need to providion multiple completeltey independent TA, e.g.: 2 TA, and half of the domain has certs signed against the one TA, and the other half against the other TA. Even if temporarily (for some months, while changing TA). But i am really not sure if/what checking against the TA can be done. I think one of the TA needs to have been used to sign the pinned-domain cert. And one (not necessarily the same) to sign the pledged LDevID - but did it get that LDevID already at this stage ?

Re point 5: Discussed today in BRSKI meeting.
Michael/toerless think we may add the "may check that LDevID and pinned-domain-cert do verify against one of the received TA", but unsure if it's worth it. Pleae bring up at IETF118 as topic for BRSKI-PRM.

For BRSKI RFC8995, Section 5.9.1 defines fetch the /cacerts as "SHOULD" but not mandatory. It does say that the pinned-domain-cert is to be, or can be, used as a CA trust anchor for the domain, independent of whether the Pledge succeeds with the /cacerts request or not. As discussed, no cross-validation between pinned cert and /cacerts results is mentioned.

For Constrained BRSKI, there are optimized procedures defined in 6.5.1/6.5.2 and there is some cross-validation - in summary:

* during bootstrap, if the Pledge gets an LDevID and that LDevID is directly signed by the pinned CA, then accept the pinned CA as the TA. Skip fetching the TA(s) using /cacerts. In most use cases that fetched TA would be identical to the pinned CA.
* during EST cert renewal, if the EST-client gets a new LDevID and it does not chain to any currently stored TA(s), then use the existing DTLS connection to fetch the new TA(s) using /cacerts. 
* the previous point requires the EST-server i.e. Registrar to be smart and let the EST-client first connect successfully using its "OldWithOld" LDevID certificate.  So it needs to detect the EST-client's OldWithOld identity during the handshake and respond with its own OldWithOld EST server certificate. So that trust is established prior to the LDevID renewal.
* if the EST client needs to fetch a new TA with /cacerts, it MUST also check that this new TA chains with the new LDevID that it just obtained. If not chainable, it MUST drop both of the new TA and the new LDevID. And report an error using BRSKI es telemetry. This is to avoid accepting a non-working security configuration.

The benefits of above are avoiding some overhead of duplicate certificate transfers, and transfer and processing of OldWithNew and NewWithOld certificates.  I don't see any downside for security.



> The benefits of above are avoiding some overhead of duplicate certificate transfers, and transfer and processing of OldWithNew and NewWithOld certificates.

Yes, nice optimization.

> I don't see any downside for security.

The only (minor) downside that I see when not having the NewWithOld cert is that the transition to the new TA needs to be checked and done when receiving the new TA (via the channel secured with the old TA), and this link cannot be checked (again) later (and the NewWithOld can not be used as part of other chain building, while this is likely not needed). 
OTOH, no space is needed for transferring and storing the transition cert(s). 

> I have to admit, i am not remembering (D)TLS exchanges well enough to know whether the responder can still select the certificate to provide after it has seen the initiator certificate. If that's possible, then its great.
> 

Nope.  The responder sends it's certificate first.



@EskoDijk : If @mcr is right, then it seems the trick you describe will not fly. Is this in constrained EST draft/rfc ?

About 2-tier and 3-tier CAs: although we intended to support these cases too, it gets very complex if the Pledge / IoT device is limited to requesting only a single CA certificate. Especially when considering CA replacement in a 2-tier or 3-tier scenario!
I've created an issue for this: [#275 ](https://github.com/anima-wg/constrained-voucher/issues/275) in cBRSKI.

The solutions listed there we discussed some time before.


Considering the discussion above, I would include the following text in section 6.3:
------
The verification comprises the following steps the pledge MUST perform. Maintaining the order of versification steps as indicated allows to determine, which verification has already been passed:

1. Check content-type of the CA certificates message. If no Content-Type is contained in the HTTP header, the default Content-Type utilized in this document (JSON-in-JWS) is used. If the Content-Type of the response is in an unknown or unsupported format, the pledge SHOULD reply with a 415 Unsupported media type error code.
2. Check the encoding of the payload. If the pledge detects errors in the encoding of the payload, it SHOULD reply with 400 Bad Request error code.
3. Verify that the wrapped CA certificate object is signed using the registrar certificate against the pinned-domain certificate. This MAY be done by comparing the hash that is indicating the certificate used to sign the message is that of the pinned-domain certificate. If the validation against the pinned domain-certificate fails, the client SHOULD reply with a 401 Unauthorized error code. It signals that the authentication has failed and therefore the object was not accepted.
4. Verify signature of the the received wrapped CA certificate object. If the validation of the signature fails, the pledge SHOULD reply with a 406 Not Acceptable. It signals that the object has not been accepted.
5. If the received CA certificates are not self-signed, i.e., an intermediate CA certificate, verify them against an already installed trust anchor, as described in section 4.1.3 of [RFC7030].
6. The pledge MAY may verify that the LDevID and the pinned-domain-cert can be validated against one of the received TA.
-----
I would take this formulationinto the current BRSKI-PRM draft. We have the discussion on the verification also in IETF 118 planned as requested by Toerless and may adopt the text afterwards. 


- move step 6 after enrollment 
- describe enrollment status response (provide suggestion of error string in text).

- Removed step 6 in the verification handling for the wrapped CA certificate provisioning as only applicable after enrollment [Section 6.3.3](https://github.com/anima-wg/anima-brski-prm/issues/103#exchanges_uc2_3c)
- Enrollment status response already includes examples for failure and success cases in [Section 6.3.5](https://www.ietf.org/archive/id/draft-ietf-anima-brski-prm-10.html#name-pledge-enrollment-status-te)