Using EST with signature wrapped certification request

BRSKI-PRM defines a signature wrapped object for transporting a PKCS#10 certification-request from the pledge to the registrar-agent and further to the registrar. The hop between the pledge and the registrar-agent has already been defined. The communication between the registrar-agent is not fully specified, yet. It is in section 5.1.4.2. of BRSKI-PRM. 

We distinguish on the registrar if the request is coming from a pledge or the registrar-agent by the used I/LDevID. 

One point in the further processing needs further discussion: 
- [RFC 7030 specifies](https://datatracker.ietf.org/doc/html/rfc7030#section-3.2.4) the use of simple enroll and allows for providing the request information with the content-type pkcs10. We described in BRSKI-PRM the use of content type "jose" to be able to transport the signature wrapped object. This approach is intended to provide a simplified way to provide a signature wrapped object in the request using the already available endpoint at the registrar. (The signature wrapping provides the proof of identity in this case.)
- There is a sentence in [RFC 7030 section 3](https://datatracker.ietf.org/doc/html/rfc7030#section-3) stating " CMC ([RFC5272], Section 3.1) notes that "the Simple PKI Request MUST NOT be used if a proof-of-identity needs to be included". Since we provide with the signature wrapped object a proof of identity, do we violate the requirement? If yes, could we come around that by defining a separate endpoint, handling this? 

This is addressed in section 5.1.4.2 below Figure 10.
@mcr would be great to get your view on this. 

I think that having the registrar-agent/registrar communication use a new end point would really be the best thing.  Both are new code, and this removes some complexity in testing.


Yes, agree that an own endpoint would be the best to avoid any confusion. 
Which path would we use on the registrar for such an endpoint? Should we define it as enhancement to BRSKI like:
  /.well-known/brski/requestenroll
or make it more brskiprm like
  /.well-known/brskiprm/requestenroll
assumed we call the endpoint "requestenroll"

I suggest we use:

````
" /.well-known/brski/requestenroll"
````


Has been included in the latest draft to be uploaded.