References: normative vs informative

Normative refs that should be informative:
* RFC 6241 should be informative (not normatively needed to implement)
* RFC 8407 (same)

Informative refs that should be normative:
* RFC 2986 - without PKCS#10, you can't implement the protocol.
* RFC 5280 - without this specific (PKIX) certificate structure, you can't interoperably implement the protocol.

completely agree, done