Language tagging (DISCUSS from Roman)

Discuss received from Roman 

** Section 7.6.2.1
   *  reason: contains a human-readable message; SHOULD NOT provide
      information beneficial to an attacker

Per the requirement in Section 4.2 of RFC2277 that the “Protocols that transfer
text MUST provide for carrying information about the language of that text”,
what is the recommended approach here?

Same question for pvs-details in reason-context and pbs-details in
reason-context (

** Section 7.6.2.1
   *  reason: contains a human-readable message; SHOULD NOT provide
      information beneficial to an attacker

...
   *  reason-context: contains a JSON object that provides additional
      information specific to a failure; in contrast to Section 5.7 of
      [RFC8995], MUST be provided; SHOULD NOT provide information
      beneficial to an attacker

When is it acceptable to provide information beneficial to the attacker?


Not sure regarding the first point? We used the same approach here as in RFC 8995 stating human readable message. Should we include a statement about appropriate language tagging like:
NEW
According to [RFC2277], human-readable information must contain information about the language of the text. Consequently, the utilized language is indicated at the beginning of the human readable information. 

How to address the second point: "When is it acceptable to provide information beneficial to the attacker?" 

The pledge is not localized at this point in time so the pledge is not aware of the language to select. English is taken as a default here for this diagnosric messages.  The internationalization of text should be done on another level. 


Included in last [committ](https://github.com/anima-wg/anima-brski-prm/commit/15e0aeda2e7ad07d6c41696fcb31e056b9089e91)