yang warnings for -00

draft-ietf-anima-brski-prm-00.txt:
xym 0.5:
Extracting 'ietf-voucher-request-prm@2021-10-15.yang'
   Removed 0 empty lines


ietf-voucher-request-prm@2021-08-19.yang:
pyang 2.5.0: pyang --verbose --ietf -p {libs} {model}:
# module search path: /tmp/tmpurecrp3_:/a/www/ietf-ftp/yang/rfcmod/:/a/www/ietf-ftp/yang/draftmod/:/a/www/ietf-ftp/yang/ianamod/:/a/www/ietf-ftp/yang/catalogmod/:.:/usr/share/yang/modules
# read /tmp/tmpurecrp3_/ietf-voucher-request-prm@2021-08-19.yang (CL)
# read /a/www/ietf-ftp/yang/rfcmod/ietf-restconf.yang
# read /usr/share/yang/modules/ietf/ietf-restconf.yang
# read /a/www/ietf-ftp/yang/rfcmod/ietf-voucher-request@2021-05-20.yang
# read /usr/share/yang/modules/ietf/ietf-voucher.yang
# read /a/www/ietf-ftp/yang/draftmod/ietf-voucher@2021-07-04.yang
# read /usr/share/yang/modules/ietf/ietf-yang-types.yang
# read /a/www/ietf-ftp/yang/draftmod/ietf-yang-types@2021-07-09.yang
/tmp/tmpurecrp3_/ietf-voucher-request-prm@2021-08-19.yang:49: warning: RFC 8407: 3.1: The IETF Trust Copyright statement seems to be missing (see pyang --ietf-help for details).
/tmp/tmpurecrp3_/ietf-voucher-request-prm@2021-08-19.yang:49: warning: the module seems to use RFC 2119 keywords, but the required text from RFC 8174 is not found (see pyang --ietf-help for details).

yanglint SO 1.6.7: yanglint --verbose -p {tmplib} -p {rfclib} -p {draftlib} -p {ianalib} -p {cataloglib} {model} -i:
No validation errors