Option necessary to generate multiple CSRs?

Currently the draft concentrates on a CSR for a single domain specific (generic) certificate. Note that BRSKI currently allows only for one CSR per EST connection as stated in section 5.9 of RFC8995.

If the pledge would already have some knowledge about specific applications, for which a certificate is needed, a CSR for these certificates may be created and also processed. This could be done in the first run, but may also be done after the bootstrapping has finished.

Any thoughts?


There is general agreement that we need to support multiple CSRs between pledge and registrar-agent, but unclear whether this policy for multiple CSRs is driven by the registrar-agent, or the pledge.

We agree that from the registrar-agent/registrar that we support many CSRs, because there is a bulk transfer/request for multiple pledges.


As for issue #8: Based on the current state of discussion, the enrollment response provided to the pledge will only contain a single LDevID EE certificate which enables further interactions in the domain. Based on this LDevID further configuration can be performed. Part of the application specific configuration is also the provisioning of further security related parameters, upon the pledge may create further certification requests. This is done outside the scope of the BRSKI-PRM draft but may reuse some of the functionality BRSKI-PRM provides. Based on that BRSKI-PRM in the current state does not intend to generate multiple CSRs per pledge during bootstrapping.

Issue can be closed