discolvery of registrar with BRSKI-PRM function set

WGLC Comment (Toerless): 
Mechanism need to support the registrar-agent to discover a registrar with BRSKI-PRM feature set. 
- could be addressed by enhancing the approach in RFC 8995 in section 8.6 specifying a DNS service name like " brski-prm-registrar" to signal the availability of the additional endpoints and the connected functionality
- other approaches from constraint BRSKI which also apply?

DNS-SD subtype for `_brski-registrar._tcp`, e.g., `_prm._sub._brski-registrar._tcp`?

that sounds even better. Thanks for mentioning subtypes. This should work also for BRSKI-AE likewise. 
This would also mean, that registrars supporting multiple BRSKI approaches (constraint, PRM, AE, ...) would be configured with the respective DNS service names and the pledges would use what they support for the discovery? This would sound like a way we tried to achieve a while ago by trying to get an enumeration of endpoints supported by the registrar, which did not work over http. Using the service names sounds better feasible.


Discussion (21.03.2023)
- Discovery based on type or on subtype.
- to be discussed also for constraint voucher. (Toerless to discuss during IETF 116)
- Intention to have discovery approach similar across different discovery options (GRASP is flexible, DNS parameter mapping to GRASP draft exist)
- Toerless: text parameters proposed to be used instead of subtypes to be able to add parameters later. 
- Update IANA necessary for using text parameters (would update RFC 8995), no text parameter provided for plain BRSKI but for any combination of BRSKI approaches, a (one or multiple) text parameter is necessary for supporting both e.g., PRM, Plain, ..., 
- Definition of Text records defined in https://www.rfc-editor.org/rfc/rfc6763.html#section-12.1
- 

See also https://www.rfc-editor.org/rfc/rfc6763.html#section-6.1 for rules on TXT records in DNS-SD. Typically every service always has a TXT record, even if no keys are in it.

to be discussed on April 24:
- proposed approach for discovery using DNS-SD via subtypes e.g. _prm._sub._brski-registrar._tcp or via text parameter to be able to add parameters later on. 
- currently no parameters necessary for BRSKI-PRM (and BRSKI-AE), anything known for constraint BRSKI?

@stfries In the last call we discussed this, we arrived at DNS-SD TXT parameters as the most liked solution. This also avoids the mental complexity of subtypes (which is higher - for most people; and a lesser known feature of DNS-SD).

For Constrained BRSKI there are currently no DNS-SD parameters defined and actually DNS-SD discovery is not even mentioned in https://datatracker.ietf.org/doc/html/draft-ietf-anima-constrained-voucher-20#section-10 . The reason for this was (probably) because we didn't see how mDNS could be use to discover a Registrar multiple hops away, and also the mesh networking protocols will typically define some own custom way of how a Joiner would discovery the Join Proxy.

PS However, more recent developments in the Thread protocol are added support for DNS-SD service registration & discovery over multiple hops. This can be found in the Thread 1.3.0 public specification. This uses the IETF defined Service Registration Protocol (SRP) https://datatracker.ietf.org/doc/html/draft-ietf-dnssd-srp so that a Registrar can easily be discovered over unicast DNS.

@EskoDijk Based on your comment, is there a recommendation from Thread perspective on handling services via subtypes or TXT records?

@EskoDijk Quickly browsing through the draft, it seems to me as if SRP would equally support subtypes and TXT records for registration - but i may be wrong.

How do you think SRP does / should impact our choice between TXT and subtype ?

Indeed for SRP there's no difference in handling either subtypes or TXT records; or both.

Just for completeness it may be possible also (a "3rd solution" for this) to define 2 different services, i.e. 2 different names, where the advertised service is hosted at the same port. In this way you can usea new service name for PRM features and at the same time keep the old service name ("legacy") for regular BRSKI features.  But this is probably more overhead than the other solutions.

In any case all 3 solutions require full backwards compatibility with existing BRSKI, i.e. a client not knowing about PRM can use the Registrar as if it's a normal BRSKI Registrar.

Created proposed new text via https://github.com/anima-wg/anima-brski-prm/pull/118

To consider the current discussion of discovery enhancements, I will update BRSKI-PRM Section 5.3.1 Discovery of registrar by Registrar-Agent (https://www.ietf.org/archive/id/draft-ietf-anima-brski-prm-09.html#name-discovery-of-registrar-by-r) as following in the submission today: 

Old text: 
The discovery of the domain registrar may be done as specified in [RFC8995] section 4 with the deviation that it is done between the registrar-agent and the domain registrar. Alternatively, the registrar-agent may be configured with the address of the domain registrar and the certificate of the domain registrar.

Proposed new text taken the Discovery draft of Toerless' into account: 
As a registrar-agent acts as representative of the domain registrar towards the pledge or may even be collocated with the domain registrar, a separate discovery of the registrar is likely not needed as registrar-agent and registrar are domain components and have a trust relation. 
Nevertheless, a registrar-agent may discover a registrar using the basic mechanism specified in section 4 and the appendix A.2 of [RFC8995]. Note that this discovery, does not provide information on specific capabilities of registrars. As a more general solution, the BRSKI discovery mechanism can be extended to provide upfront information on the capabilities of registrars, such as the mode of operation (pledge-responder-mode or registrar-responder-mode). Defining discovery extensions is out of scope of this document. This may be provided in [I-D.eckert-anima-brski-discovery]. 

----

may be closed

Consider that other communication besides BRSKI is assumed between the registrar-agent and registrar may happen. An example is the exchange of expected serial numbers. Standard discovery is seen as not required (single product offering).
Add to proposed text above. 
8995 not sufficient to discover registrar with PRM. 

Adopted text in [section 5.3.2](https://www.ietf.org/archive/id/draft-ietf-anima-brski-prm-10.html#name-discovery-of-registrar-by-r) to state that standard discovery of registrar by registrar-agent is not needed.