Addressed review comments from IOTDIR last call

[Section 6.1.2]

* It says:

  > The discovery of the pledge by the Registrar-Agent in the context of this
  document describes the minimum discovery approach to be supported.

  Can this be more assertive and normatively say "... the minimum discovery
  approach that MUST be supported." ?

**_Resolution: Yes, this is true. As it is the minimum discovery approach to be supported MUST is correct here._** 

[Section 7.5.2.1]

* It says

  > ... or an array of at least two X.509 v3 certificates ...

  This requires to fix the CDDL definition in Figure 27 (see Sections 3.2 and
  3.4 of RFC 8610).

  OLD:
  "x5bag": bytes / [+ bytes]

  NEW:
  "x5bag": bytes / [2* bytes]

**_Resolution: Thanks for catching this. I corrected it accordingly. The example in RFC 8610 section 3.4 made it clear._**


[Nits]
_addressed in the updated document. _ 

* Section 1
  - s/associated to/associated with

* Section 3.1.3
  - s/operate a RA/operate an RA

* Section 3.2
  - s/communicate with another/communicate with one another

* Section 5.1
  - s/or protocol to be/or protocols to be

* Section 5.4
  - s/communicated via/communicates via

* Section 6.1.2
  - s/an DNS-SD/a DNS-SD
  - s/a mDNS/an mDNS
  - s/support this functionality/supports this functionality

* Section 6.3.1
  - s/establishment, that/establishment that

* Section 6.4
  - s/resp./respectively.

* Section 7.2.2.2
  - s/in the case the/in case the

* Section 7.3
  - s/is of the pledge verified/of the pledge are verified
  - s/to an Registrar/to a Registrar

* Section 7.3.1
  - s/MASA MAY chose/MASA MAY choose
  - s/certificate that signed by/certificate that is signed by

* Section 7.3.6
  - s/BRSKi-PRM/BRSKI-PRM

* Section 7.4
  - s/signed signed with/signed with

* Section 7.6
  - s/MAY stored/MAY store
  - s/but use the/but using the
  - s/pledge did not did not/pledge did not

* Section 7.6.2.3
  - s/plege/pledge

* Section 7.7
  - s/certficate/certificate
  - s/processed by pledge/processed by the pledge

* Section 7.10
  - s/Second, the Registrar-Agent/First, the Registrar-Agent
**_changed to "The Registrar-Agent ..." as the second/First was not necessary here._**

* Section 7.11.2.3
  - s/according its bootstrapping/according to its bootstrapping

* Section 8
  - s/in EE certificate/in the EE certificate

* Section 10
  - s/to optional apply/to optionally apply

* Section 11
  - s/BRSKI-PRM, the pledge/BRSKI-PRM the pledge
  - s/does not limited/does not limit
  - s/simply resent the/simply resend the

* Appendix B

  - s/dependant/dependent
  - s/scanable/scannable
  - s/useable/usable
