Clarify how MASA determines "pinned-domain-cert" for Voucher issuance

[Section 6.2.4](https://datatracker.ietf.org/doc/html/draft-ietf-anima-brski-prm-09#section-6.2.4) of BRSKI-PRM does not describe how the MASA determines the "pinned-domain-cert". This should be addressed explicitly.

BRSKI-PRM does not deviate from BRSKI here. Proposal to state the following in [Section 6.2.4](https://datatracker.ietf.org/doc/html/draft-ietf-anima-brski-prm-09#section-6.2.4) below figure 11:

_The pinned-domain certificate to be put into the voucher is determined by the MASA as described in section 5.5 of RFC 8995._

Accepted as of Design Team Meeting August 1, 2023 and included